@charset "utf-8";

/* リセットcss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* 共通のスタイル */
.section-title {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

.wrap {
  width: 80%;
  margin: 0 auto 50px;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

/* その他のスタイルは以下に記述していきます */

header {
  height: 70px;
  background: #000;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.header-nav li {
  display: inline-block;
  margin-right: 35px;
  font-size: 16px;
}

.header-nav a {
  color: #f2f2f2;
}

.wrapper {
  display: block;
}

#eyecatch {
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
}

#eyecatch h2 {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -30%);
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  color: #ccc;
  line-height: 1;
}

.news {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 850px;
  height: 50px;
  display: flex;
}

.news_text {
  background-color: #f2f2f2;
  font-size: 15px;
  width: 700px;
  padding-top: 10px;
  padding-left: 10px;
}

.news_title {
  color: #ccc;
  padding-top: 15px;
  padding-left: 50px;
  width: 150px;
  height: 100px;
  background-color: black;
}
.about_mission {
  position: relative;
  height: 500px;
  background-color:white;
}

.black_zone {
  background-color: black;
  width: auto;
  height: 300px;
}

.black_zone h3 {
  position: absolute;
  color: white;
  font-size: 20px;
  width: auto;
  height: 300px;
  top: 50px;
  left: 200px;
}

.black_zone p {
  position: absolute;
  color: white;
  top: 100px;
  left: 200px;
  width: 1000px;
}

.mission {
  position: absolute;
  display: block;
  width: 450px;
  height: 350px;
  top: 50px;
  right: 100px;
}

/* service */
#about {
  height: 1500px;
  width: auto;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: lightgray;
}

.about-right1 img {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 750px;
  height: 450px;
  z-index: 1;
  }

.right_text1 {
  position: relative;
  margin-bottom: 15px;
  color: black;
  margin-top: 100px;
  margin-left: 400px;
  background-color: #f2f2f2;
  width: 550px;
  height: 250px;
  z-index: 2;
  line-height: 2;
  padding-top: 30px;
  padding-left: 20px;
  font-size: 15px;
}

.button {
  margin-top: 20px;
  margin-left: 400px;
  z-index: 3;
}

.about-right2 img {
  position: absolute;
  top: 500px;
  left: 0px;
  width: 750px;
  height: 450px;
  margin-top: 300px;
}

.left_text2 {
  position: relative;
  margin-top: 500px;
  margin-left: 400px;
  margin-bottom: 15px;
  color: black;
  background-color: #f2f2f2;
  width: 550px;
  height: 250px;
  z-index: 2;
  line-height: 2;
  padding-top: 30px;
  padding-left: 20px;
  font-size: 15px;
  
}

.button2 {
  margin-top: 20px;
  margin-left: 400px;
  z-index: 3;
}

.section {
  display: flex;
  justify-content: space-between;
}

.common {
  width: 600px;
  height: 300px;
  text-align: center;
}

.company {
  background: url(../img/company.jpeg) no-repeat; 
}

.recruit {
  background: url(../img/recruit.jpg) no-repeat;
}

.common p {
  line-height: 1;
  color:white;
}

.company_en {
  margin-top: 100px;
  font-size: 30px;
}

.recruit_en {
  margin-top: 100px;
  font-size: 30px;
}

.company_text p
.recruit_text p {
  font-size: 15px;
}

.faq {
  height: 300px;
}

.faq_black {
  background-color: black;
  width: 800px;
  line-height: 3;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.faq_title {
  padding-top: 10px;
  padding-left: 20px;
  color: #ccc;
  font-size: 30px;
}
.faq_text {
  padding-top: 40px;
  padding-left: 300px;
  color: #ccc;
  line-height: 1;
}

.contact {
  line-height: 300px;
  background: url(../img/contact-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 10%;
}

.contact p{
  margin-bottom: 40px;
  font-style: italic;
  font-weight: bold;
  color: #ccc;
  line-height: 1;
  margin: 10px, auto;
}

.contact1 {
  font-size: 20px;
}

.contact p b {
  font-size: 30px;
}

.contact2 {
  font-size: 20px;
}

.contact3 {
  font-size: 5px;
}

.contact_button button {
  display: block;
  margin-left: 520px;
  color: #ccc;
  border: solid #ccc 1px;
  padding: 5px;
  text-decoration: none;
  background: transparent
}


.footer {
  background-color: black;
  line-height: 2;
  color: #f2f2f2;
  text-align: center;
  font-size: 10px;
}